* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
}

.title {
    /* color: ; */
}

#menu-top-menu {
    display: flex;
    list-style: none;
}

#menu-top-menu li {
    padding: 0.5rem 1.5rem;
}

#menu-top-menu li a {
    color: #000;
    text-decoration: none;
}

.current-menu-item {
    position: relative;
}

.current-menu-item::after {
    position: absolute;
    content: "";
    background: #3cb42c;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
}

.page-wrap {
    padding-bottom: 9rem;
}

.logo {
    max-width: 150px;
}

.widget {
    list-style: none;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
